
body{
	background-color: white;
}

#top_blue_box{
	height: 300px;
	background-color: #125688;
	width: 100%;
	clear: both;
}

#instaImg{
	float: right;
	margin-right: 50%;
	
}

#phone_pics{
	margin-left: 70px;
	margin-top: -182px;
	z-index: [1];
	clear: both;
}